.bg-Encabezado{
	background: #78b1ea;
}
.bg-footer{
	background: #78b1ea;
}
.bg-gris{
	background: #f4f4f4;
}
.bg-Nosotros{
	background: #5e90e3;
}
.bg-tecno{
	background-color: #e36d6d;
}
.bg-team{
	background-color: #d66060;
	/*background: #d95232;*/
}
.bg-enc-Trans{
  background: #5e90e3;
}
.bg-violeta{
	background: #c48fd9;
}

.bg-naranja{
  background: #f88f01;
}

.bg-azul{
  background: #5e90e3;    
}
.btn-azul{
	background: #5e90e3;
}


.btn-rojo{
	color: white;
    background-color: #d66060;
    border-color: #d66060;
}
.btn-rojo:hover{
	color: white;
    background-color: #d66060;
    border-color: #d66060;
    padding: .385rem .85rem;
}

.btn-naranja{
	color: white;
  background-color: #f88f01;
  border-color: #d66060;
}
.btn-naranja:hover{
	color: white;
    background-color: #f88f01;
    border-color: #d66060;
    padding: .385rem .85rem;
}
.btn-violeta{
	color: white;
    background-color: #c48fd9;
    /*border-color: #d66060;*/
}
.btn-violeta:hover{
	color: white;
    background-color: #c48fd9;
    /*border-color: #d66060;*/
    padding: .385rem .85rem;
}
.text-contacto{
	font-size: 3rem;
    line-height: 1.2;
    font-weight: lighter!important;
}
.text-violeta{
	color: #c48fd9;
}
.text-azul{
	color: #5e90e3;
}
.text-naraja{
  color: #f88f01;
}
.text-size-Service{
  font-size: 4.5rem;
  font-weight: 350;
}

.display-6{
	  font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
}
.circulo{
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #fff;
	float: none;
    margin: 0 auto;
    

}
.circulo-white{
	background: white;
	border-style: groove;	
}
.circulo-rojo{
	background: #d66060;

}

.circulo-violeta{
	background: #c48fd9;

}
.circulo-azul{
	background: #5e90e3;
}

.circulo-naranja{
	background: #f88f01;
}
.circulo-amarillo{
	background: #e8c52e;
}
.circulo-verde{
	background: #51afb1;
}

.circulo-lg{
	width: 16rem;
	height: 16rem;
}

.circulo-md{
	width: 12rem;
	height: 12rem;
}

.circulo-sm{
	width: 8rem;
	height: 8rem;
}

#circulo > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.topnav {
    /*background-color: #333;*/
    overflow: hidden;
    /*margin-top: 50px;*/
  	padding: .35rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:  #f2f2f2;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
  font-size: 17px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /*background-color: #e36d6d;*/
  box-shadow: 0 1px #f88f01; /*#e74c3c;*/
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f88f01;/*#e36d6d;*/
  /*box-shadow: 0 1px #e74c3c;*/
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.Myborder-top{
	border-top: 5px solid white;
}

.border-form{
	border-width: 3px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    order-color: #c48fd9;
    border-top-color: #c48fd9;
    border-right-color: #c48fd9;
    border-bottom-color: #c48fd9;
    border-left-color: #c48fd9;
}
.phone{
   background-image: url("phone.webp");
   width: 140px;
   height: 760px;
   background-position: left; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */

}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}
.text-uppercase {
    text-transform: uppercase!important;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}
.bg-color-top{
  color: #f88f01!important;
 }

.a{
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.buttomEnlace a{
  display: block;
  text-align: left;
  color:  #f2f2f2;
  padding: 0px 0px 1rem 0px;
  text-decoration: none;
  font-size: 17px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.buttomEnlaceIcon a{
  float: left;
  color:  #f2f2f2;
  text-align: center;
  padding: 0px 0px 1rem 0px;
  text-decoration: none;
  font-size: 17px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.margin-left-x{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.border-t{
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: black;
}
